h1{
    text-align: center;
}

.container{
    
    display: flex;
    justify-content: center;
}
.container div{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}

.container img{
width: 180px;


}